body{
    width: 500px;
    margin: auto;
    background-image: url(./assets/img/sfondo.png);
    background-repeat: repeat-y;
    background-position: top;
    background-color: black;
    padding-left: 20px;
}

header{
    width: 480px;
    height: 400px;
    background: rgb(39,101,135);
    background: linear-gradient(3deg, rgba(39,101,135,1) 0%, rgba(34,181,210,1) 100%);
    -webkit-box-shadow: 1px 4px 6px -1px rgba(0,0,0,0.53); 
    box-shadow: 1px 4px 6px -1px rgba(0,0,0,0.53);
    text-align: center;
    margin-top: 30px;

}   

header img{
    margin-top: 30px;
}

header p {
    margin: 30px;
    font-size: 1.25em;
    font-weight: 600;
    color: white;
}

header ul {
    margin-top: 40px;
    font-size: 1.25em;
    font-weight: 600;
    color: white;
}

header .fas{
    margin: 0.5em;
}

main{
    width: 440px;
    background-color: white;
    -webkit-box-shadow: 1px 4px 6px -1px rgba(0,0,0,0.53); 
    box-shadow: 1px 4px 6px -1px rgba(0,0,0,0.53);
    margin-top: 30px;
    padding: 50px 20px 20px;
}

h1{
    font-size: 3em;
    font-weight: 600;
    width: 400px;
    margin-bottom: 30px;
}

h5{
    margin-bottom: 30px;
    font-size: 1.65em;
    color: gray;
}
h5 .fas{
    margin-right: 0.25em;
}

.article-1 p{
    font-size: 1.5em;
    margin-bottom: 30px;
}

ul{
    font-size: 1.5em;
    margin-bottom: 30px;
    list-style: disc;
    margin-left: 40px;
}

#frame{
    background-color: rgb(185, 185, 185);
    border-color: rgb(94, 93, 93);
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    display: inline;
    font-size: 1.5rem;
    padding-left: 2px;
    padding-right: 2px;
}